.user-content{
  padding-bottom: 30px;
}
.user-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.show-title--width{
  width: 70%;
  margin-right: 10px;
}
.show-created{
  width: 30%;
  font-size: 18px;
}